* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;   /*user cannot select & highlight anything on the screen*/
}

body {
  font-family: sans-serif;
  background: #111;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

header {
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  color: #00ffcc;
  margin-bottom: 10px;
}

#scoreboard {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 18px;
}

#game-container {
  position: relative;
  width: 100%;
  height: 80vh;
  border-top: 2px solid #fff;
  overflow: hidden;
}

.letter {
  position: absolute;
  font-size: 36px;
  font-weight: 400;
  color: #4dd7bc;
  font-family: 'Press Start 2P', monospace;
  animation-name: fall;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes fall {
  to {
    top: 90%;
    opacity: 0;
  }
}
